<form action="/saveeditedoption/<%= @option.id %>" method="post">
  <input type="text" name="new_option_name" value="<%= @option.option_name %>">
  <button type="submit">Save changes</button>
</form>

